input[type=radio] {
	margin-left: 20px;
}

body {
	font-size: 16px;
}

.disagree {
	margin-right: 5px;
}

.agree {
	margin-left: 25px;
}

.post-title {
	margin-top: 70px;
	margin-bottom: 30px;
}

.button-submit {
	margin-top: 30px;
}

body.en :lang(id) {
	display: none;
}
body.id :lang(en) {
	display: none;
}

.language {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	letter-spacing: 1px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}